p {
    font-family: 'Times New Roman', Times, serif;
    color: blue;
    font-size: 20px;
}

h1 {
    color: black;
    background-color:coral;
}

h3 {
    background-color: lime;
}

p2 {
    color: red;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    background-color: #F8E1E1;
}

